In [1]:
def factorial(num):
    if num > 1:
        return num * factorial(num -1)
    else:
        return num

In [2]:
for num in range(10):
    print(factorial(num))

0
1
2
6
24
120
720
5040
40320
362880

In [3]:
def factorial(num):
    if num <= 1:
        return num;
    return_value = num * factorial(num -1)
    return return_value

In [4]:
for num in range(10):
    print(factorial(num))

0
1
2
6
24
120
720
5040
40320
362880

In [5]:
def multiple(num):
    return_val = 1
    for index in range(1, num + 1):
        return_val = return_val * index
    return return_val

In [6]:
def multiple(num):
    if num <= 1:
        return num
    return num * multiple(num - 1)

In [7]:
multiple(10)

3628800

In [8]:
import random 
data = random.sample(range(100), 10)
data

[37, 52, 33, 77, 42, 63, 31, 49, 81, 69]

In [9]:
def sum_list(data):
    if len(data) <= 1:
        return data[0]
    return data[0] + sum_list(data[1:])

In [10]:
sum_list(data)

534

### 회문

In [11]:
def palindrome(string):
    if len(string) <= 1:
        return True
    
    if string[0] == string[-1]:
        return palindrome(string[1: -1])
    else:
        return False

In [12]:
palindrome('tomato')

False

In [13]:
palindrome('level')

True

In [23]:
def func(n):
    print(n)
    if n == 1:
        return n
    
    if n % 2 == 1:
        return func((3 * n) + 1)
    else:
        return func(int(n / 2))

In [24]:
func(3)

3
10
5
16
8
4
2
1

1

### 문제: 정수 4를 1, 2, 3의 조합으로 나타내는 방법의 수를 구하기

In [25]:
def func(data):
    if data == 1:
        return 1
    elif data == 2:
        return 2
    elif data == 3:
        return 4
    
    return func(data - 1) +func(data - 2) + func(data - 3)

In [27]:
func(4)

7